.lesson-series-01, .lesson-series-02, .lesson-series-03, .lesson-series-04 {
    border-radius: 8px;
    backdrop-filter: blur(5px);
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lesson-series-01 {
    background: linear-gradient(0deg, rgba(0, 255, 0, 0.2), rgba(50, 205, 50, 0.2));
    border: 1px solid rgba(0, 255, 0, 0.2); /* Optional light border for the glass effect */
}

.lesson-series-02 {
    background: linear-gradient(180deg, rgba(244, 72, 129, 0.2), rgba(236, 69, 79, 0.2));
    border: 1px solid rgba(244, 72, 129, 0.2);
}

.lesson-series-03 {
    background: linear-gradient(0deg, rgba(241, 154, 26, 0.2), rgba(255, 199, 60, 0.2));
    border: 1px solid rgba(241, 154, 26, 0.2);
}

.lesson-series-04 {
    background: linear-gradient(0deg, rgba(255, 20, 147, 0.2), rgba(238, 130, 238, 0.2));
    border: 1px solid rgba(255, 20, 147, 0.2);
}

.fancy-border {
    @apply bg-opacity-50 backdrop-blur transition-all duration-100 hover:border-accent rounded-lg border-2 border-pink-500 master-shadow-home;
}

// Animated border
/* Green */
@keyframes shimmer-green {
    0%, 100% {
        border-color: rgba(0, 255, 0, 0.7);
        box-shadow: 0 0 5px rgba(0, 255, 0, 0.7), 0 0 10px rgba(0, 255, 0, 0.7);
    }
    50% {
        border-color: rgba(0, 255, 0, 0.5);
        box-shadow: 0 0 15px rgba(0, 255, 0, 0.5), 0 0 20px rgba(0, 255, 0, 0.5);
    }
}

/* Blue */
@keyframes shimmer-blue {
    0%, 100% {
        border-color: rgba(0, 0, 255, 0.7);
        box-shadow: 0 0 5px rgba(0, 0, 255, 0.7), 0 0 10px rgba(0, 0, 255, 0.7);
    }
    50% {
        border-color: rgba(0, 0, 255, 0.5);
        box-shadow: 0 0 15px rgba(0, 0, 255, 0.5), 0 0 20px rgba(0, 0, 255, 0.5);
    }
}

/* Pink */
@keyframes shimmer-pink {
    0%, 100% {
        border-color: rgba(255, 0, 255, 0.7);
        box-shadow: 0 0 5px rgba(255, 0, 255, 0.7), 0 0 10px rgba(255, 0, 255, 0.7);
    }
    50% {
        border-color: rgba(255, 0, 255, 0.5);
        box-shadow: 0 0 15px rgba(255, 0, 255, 0.5), 0 0 20px rgba(255, 0, 255, 0.5);
    }
}

/* Orange */
@keyframes shimmer-orange {
    0%, 100% {
        border-color: rgba(255, 165, 0, 0.7);
        box-shadow: 0 0 5px rgba(255, 165, 0, 0.7), 0 0 10px rgba(255, 165, 0, 0.7);
    }
    50% {
        border-color: rgba(255, 165, 0, 0.5);
        box-shadow: 0 0 15px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5);
    }
}

// Use with caution very heavy in fps
.border-animated-green {
    border: 2px solid rgba(0, 255, 0, 0.7);
    animation: shimmer-green 1.5s infinite alternate;
}

.border-animated-blue {
    border: 2px solid rgba(0, 0, 255, 0.7);
    animation: shimmer-blue 1.5s infinite alternate;
}

.border-animated-pink {
    border: 2px solid rgba(255, 0, 255, 0.7);
    animation: shimmer-pink 1.5s infinite alternate;
}

.border-animated-orange {
    border: 2px solid rgba(255, 165, 0, 0.7);
    animation: shimmer-orange 1.5s infinite alternate;
}

// Editor styles
.fancy-editor a {
    //  Using tailwind we create a tag style for the glitch effect
    @apply text-lg text-yellow-300 font-bold text-center uppercase underline;
}

.fancy-editor strong {
    //  Using tailwind we create a tag style for the glitch effect
    @apply text-blue-400 font-bold;
}

// Glass border
.glass-border {
    background: rgba(102,26,78,0.55);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(102,26,78,0.275);
}
