.btn {
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
}
.btn-active {
    @apply bg-accent text-neutral-content;
}

// glich button fx
.btn__glitch {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--yellow-color);
    filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3)
        drop-shadow(2px 1px #02d8f3);
}

.btn--secondary .btn__glitch {
    background-color: var(--red-color);
}

.btn:hover .btn__glitch,
.btn:hover .btn__content::after,
.btn:focus .btn__glitch,
.btn:focus .btn__content::after {
    display: block;
    animation: glitch-animation 2s linear 0s infinite;
}
