code {
    background: linear-gradient(0deg, #f44881, #ffc73c);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
}

hr.theme-divider {
    border: 0;
    height: 10px;
    background-image: repeating-linear-gradient(
        to right,
        #100b2d 0,
        #100b2d 1px
    );
}

hr.theme-divider-2 {
    border: 0;
    height: 5px;
    background-image: repeating-linear-gradient(
        to left,
        #eb894f 0,
        #fdd65d 1px
    );
}

hr.theme-divider-3 {
    border: 0;
    height: 2px;
    background-image: repeating-linear-gradient(
        to left,
        #eb894f 0,
        #fdd65d 0px
    );
}

// glick text fx
.glitch {
    position: relative;
    font-weight: bold;
    color: #f9ff76;
    letter-spacing: 3px;
    z-index: 1;
}

.glitch:before,
.glitch:after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.glitch:before {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #00ffff;
    z-index: -1;
}

.glitch:after {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
        infinite;
    color: #ff00ff;
    z-index: -2;
}

@keyframes glitch-it {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    to {
        transform: translate(0);
    }
}

.text-color-h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #f9ff76;
    text-shadow: 8px 8px #ff1f8f, 20px 20px #000000;
}

/* // This is the css for the blog post lets make so the h1 follow the tailwind css */
.format h1 {
    @apply mb-4 text-3xl font-extrabold leading-tight text-neutral lg:mb-6 lg:text-4xl;
}
.format h2 {
    @apply mb-4 text-2xl font-extrabold leading-tight text-neutral lg:mb-6 lg:text-3xl;
}
.format h3 {
    @apply mb-4 text-xl font-extrabold leading-tight text-neutral lg:mb-6 lg:text-2xl;
}
.format h4 {
    @apply mb-4 text-lg font-extrabold leading-tight text-neutral lg:mb-6 lg:text-xl;
}
.format h5 {
    @apply mb-4 text-base font-extrabold leading-tight text-neutral lg:mb-6 lg:text-lg;
}
.format h6 {
    @apply mb-4 text-sm font-extrabold leading-tight text-neutral lg:mb-6 lg:text-base;
}
.format p {
    @apply mb-4 text-base text-gray-400 lg:mb-6 lg:text-lg font-bold;
}
